<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
</head>
<body>
<div>
    <input type="text" id="input">
    <input type="button" value="send" id="send">
</div>
<style>
    #response {
        border: 1px solid black;
        width: 500px;
        min-height: 300px;
    }

    .msg {
        background-color: antiquewhite;
        padding: 3px;
        margin: 2px;
    }
</style>
<div id="response">
    <!--    <div class="msg"></div>-->
</div>
<script>
    function getSessionId() {
        return 5678
    }

    var sock = new SockJS('http://localhost:8080/myHandler', null, {server: '1234', sessionId: 5678});
    sock.onopen = function () {
        console.log('open');
        sock.send('test');
    };

    sock.onmessage = function (e) {
        console.log('message', e.data);
        // sock.close();
        console.log(JSON.stringify(e));
        show_msg(e.data)
    };

    sock.onclose = function () {
        console.log('close');
    };

    function show_msg(msg) {
        let html = `<div class="msg">response: ${msg}</div>`;
        $("#response").append(html);
    }

    $(function () {
        $("#send").on('click', function () {
            let v = $("input").val()
            if (sock) {
                sock.send(v)
            }
        });
    });
</script>
</body>
</html>